version: '3.8'

services:
  # 1. MySQL 数据库
  mysql:
    image: mysql:8.0
    container_name: mall-mysql
    restart: always
    ports:
      - "3306:3306" # 将容器内的 3306 端口映射到电脑的 3306
    environment:
      MYSQL_ROOT_PASSWORD: root # 数据库超级管理员密码 (开发环境简易设置)
      MYSQL_DATABASE: mall_db   # 自动创建一个叫 mall_db 的库
      MYSQL_USER: user
      MYSQL_PASSWORD: user123
    command: --default-authentication-plugin=mysql_native_password # 解决部分客户端连接报错问题
    volumes:
      - ./docker-data/mysql:/var/lib/mysql # 将数据挂载到本地，防止重启后数据丢失

  # 2. Redis 缓存
  redis:
    image: redis:6.2
    container_name: mall-redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./docker-data/redis:/data